<table>
  <tr>
    <th></th>
    <% @week.users_by_ranking.each do |user| %>
      <th class="user_names">
        <%= "***" if (session[:current_user_name] == user.name) %>
        <%= user.name %>
        <%= "***" if (session[:current_user_name] == user.name) %>
      </th>
    <% end %>
  </tr>

  <% Stat.where(week_id: @week.id).each do |stat| %>
    <tr>
    </tr>
  <% end %>
</table>
