
<table>
  <tr>
    <th>games</th>
    <th>asdf</th>
    <th>jkl;</th>
  </tr>
  <tr>
    <td>game1</td>
    <td>pick1</td>
    <td>pick2</td>
  </tr>
  <tr>
    <td>game2</td>
    <td>pick3</td>
    <td>pick4</td>
  </tr>
</table>
