
<table>
  <tr>
    <th></th>
    <% User.all.each do |user| %>
      <th><%= user.email %></th>
    <% end %>
  </tr>

  <% @week.games.each do |game| %>
    <tr>
      <td class="team_names"><%= "#{game.away_team.name} vs. #{game.home_team.name}" %></td>
      <% game.picks.each do |pick| %>
        <td><%= pick.team.name[0].capitalize %></td>
      <% end %>
    </tr>
  <% end %>
</table>
