<div class="bordered">
<form action="/signin" method="POST">
  <label>login<input type="text" name="login_name" /></label><br />
  <input type="submit"></input><br />
  <%= current_user_name %>
</form>
</div>
