/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin: auto;
    padding: 4px;
}

.pick_abbrev {
    text-align: center;
}

.team_names {
    padding-right: 40px;
}

body {
    background: #ccc;
}

.user_names {
    font-size: 0.8em;
    column-width: auto;
}

.body-container {
    background: #ddd;
    border: 3px solid #bbb;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    padding: 30px;
}

.bordered {
    border: 3px solid #bbb;
}
